Repository aai-institute/jobq, pull requests merged in 2024-09, with the labels that each got.

#71 Support fetching logs for `RayJob`s
  backend/src/jobs_server/routers/jobs.py
  backend/src/jobs_server/runner/ray.py
  backend/src/jobs_server/utils/kueue.py
  backend/tests/e2e/clusters.py
  backend/tests/e2e/conftest.py
  backend/tests/e2e/resources/job-image/Dockerfile
  backend/tests/e2e/resources/job-image/ray
  backend/tests/e2e/test_jobs.py
Labels: enhancement, backend

#72 Remove --namespace flag from all CLI commands
  client/src/cli/commands/logs.py
  client/src/cli/commands/status.py
  client/src/cli/commands/stop.py
  client/src/cli/commands/submit.py
Labels: client

#78 Move example job requirements into new file, slim down client image
  backend/requirements-dev.txt
  backend/requirements.txt
  backend/src/jobs_server/models.py
  backend/src/jobs_server/routers/jobs.py
  backend/src/jobs_server/runner/__init__.py
  backend/src/jobs_server/runner/ray.py
  backend/tests/integration/test_jobs.py
  client/Dockerfile
  client/example-hello.yaml
  client/example-mnist.yaml
  client/example_hello.py
  client/example_hello_prod.py
  client/example_mnist_tf.py
  client/hello-docker.yaml
  client/pyproject.toml
  client/requirements-dev.txt
  client/requirements.txt
  client/src/jobs/assembler/renderers.py
Labels: client

#69 Helm chart for backend
  .github/workflows/backend-docker.yaml
  .pre-commit-config.yaml
  backend/.dockerignore
  backend/Dockerfile
  backend/deploy/jobs-server/.helmignore
  backend/deploy/jobs-server/Chart.yaml
  backend/deploy/jobs-server/README.md
  backend/deploy/jobs-server/templates/_helpers.tpl
  backend/deploy/jobs-server/templates/deployment.yaml
  backend/deploy/jobs-server/templates/rbac.yaml
  backend/deploy/jobs-server/templates/service.yaml
  backend/deploy/jobs-server/templates/serviceaccount.yaml
  backend/deploy/jobs-server/templates/tests/test-connection.yaml
  backend/deploy/jobs-server/values.yaml
  backend/pyproject.toml
  backend/requirements-dev.txt
  backend/requirements.txt
  backend/skaffold.yaml
  backend/src/jobs_server/__main__.py
  backend/src/jobs_server/routers/jobs.py
  backend/src/jobs_server/runner/base.py
  backend/src/jobs_server/runner/docker.py
  backend/src/jobs_server/runner/kueue.py
  backend/src/jobs_server/runner/ray.py
  backend/src/jobs_server/utils/k8s.py
  backend/src/jobs_server/utils/kueue.py
  backend/tests/integration/test_health.py
  pyproject.toml
Labels: enhancement, backend

#83 Add API endpoint to list workloads
  backend/src/jobs_server/__main__.py
  backend/src/jobs_server/models.py
  backend/src/jobs_server/routers/jobs.py
  backend/src/jobs_server/services/k8s.py
  backend/src/jobs_server/utils/kueue.py
  backend/tests/e2e/test_jobs.py
  backend/tests/integration/test_jobs.py
Labels: enhancement, backend

#82 Add `jobby list` CLI command
  architecture/kueue-workload-lifecycle.md
  backend/src/jobs_server/models.py
  backend/src/jobs_server/runner/kueue.py
  backend/src/jobs_server/utils/k8s.py
  backend/src/jobs_server/utils/kueue.py
  backend/tests/integration/test_jobs.py
  client/pyproject.toml
  client/requirements-dev.txt
  client/requirements.txt
  client/src/cli/__init__.py
  client/src/cli/commands/list.py
  client/src/cli/parser.py
  client/src/openapi_client/__init__.py
  client/src/openapi_client/api/job_management_api.py
  client/src/openapi_client/models/__init__.py
  client/src/openapi_client/models/job_status.py
  client/src/openapi_client/models/list_workload_model.py
  client/src/openapi_client/models/workload_metadata.py
  client/tests/integration/test_cli.py
Labels: client

#47 GCP playground IaC for development
  infra/.gitignore
  infra/Pulumi.prod.yaml
  infra/Pulumi.yaml
  infra/index.ts
  infra/package-lock.json
  infra/tsconfig.json
  infra/vm-startup.sh
  scripts/dev-cluster-connect.sh
Labels: enhancement

#89 Warn in `jobby list` if there are failed pods to a Kueue workload
  backend/src/jobs_server/models.py
  backend/src/jobs_server/services/k8s.py
  backend/src/jobs_server/utils/kueue.py
  backend/tests/e2e/test_jobs.py
  backend/tests/integration/test_jobs.py
  client/src/cli/commands/list.py
  client/src/openapi_client/models/workload_metadata.py
Labels: enhancement, backend, client

#103 Support for CLI configuration
  client/pyproject.toml
  client/requirements-dev.txt
  client/requirements.txt
  client/src/cli/__init__.py
  client/src/cli/commands/list.py
  client/src/cli/commands/logs.py
  client/src/cli/commands/status.py
  client/src/cli/commands/stop.py
  client/src/cli/commands/submit.py
  client/src/cli/commands/util.py
  client/src/cli/parser.py
  client/src/cli/types.py
  client/src/cli/util.py
  client/tests/integration/test_cli.py
Labels: enhancement, client

#101 Add docstrings for `jobq` public API classes and methods
  client/src/jobq/job.py
Labels: documentation, client

#99 docs: Add jobq CLI usage guide
  client/docs/cli.md
  client/mkdocs.yml
Labels: documentation, client

#98 Docs: Concepts section
  client/docs/concepts/_index.md
  client/docs/concepts/architecture.md
  client/docs/concepts/identifiers.md
  client/docs/concepts/lifecycle.md
  client/docs/index.md
  client/mkdocs.yml
Labels: documentation

#105 Docs: Apache-2 license, logo & contribution guide
  CONTRIBUTING.md
  LICENSE
  assets/logo.svg
  backend/pyproject.toml
  client/docs/CONTRIBUTING.md
  client/docs/_images/favicon.png
  client/docs/_images/logo.png
  client/docs/index.md
  client/mkdocs.yml
  client/pyproject.toml
Labels: documentation

#109 Add install instruction, micro synopsis to README
  README.md
Labels: documentation
